@{
    ViewData["Title"] = "Homepage";
}

<div class="my_main w-100">
    <section class="one">
        <div class="box box_one shadow-lg rounded">

        </div>
    </section>
    <section class="two">
        <div class="box box_two shadow-lg rounded">
            <div class="container d-flex py-4 justify-content-center gap-3 fs-1">
                <div><a><i class="fs-1 fa-brands fa-square-facebook text-danger"></i></a></div>
                <div><a><i class="fa-brands fa-square-twitter text-light"></i></a></div>
                <div><a><i class="fa-brands fa-square-instagram text-success"></i></a></div>
            </div>
        </div>
    </section>
</div>


